<div class="page-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="section pb-3" *ngIf="book">
                    <h3 class="section-heading h3 pt-4">Book Details</h3>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="row">
                                    <div class="view overlay hm-white-slight col-md-3">
                                        <img [src]="book.imageUrl" class="img-fluid" alt="">
                                    </div>
                                    <div class="card-body col-md-9">
                                        <h4 class="card-title">{{book.title}} <span *ngIf="book.subtitle">- {{book.subtitle}}</span></h4>
                                        <div class="likes-section" *ngIf="userSession.userId">
                                            <a *ngIf="!is_book_liked" href="javascript:void(0);" class="text-info" (click)="likeBook(book)"><i class="fa fa-thumbs-up"></i> Like</a>
                                            <a *ngIf="is_book_liked" href="javascript:void(0);" class="text-primary" (click)="unlikeBook(book)"><i class="fa fa-thumbs-up"></i> Liked</a>
                                            <a *ngIf="!is_added_self" href="javascript:void(0);" class="text-success" (click)="addToSelf(book)"><i class="fa fa-plus"></i> Borrow</a>
                                            <a *ngIf="is_added_self" href="javascript:void(0);" class="text-danger" (click)="removeFromSelf(book)"><i class="fa fa-minus"></i> Return</a>
                                        </div>
                                        <table class="table table-responsive table-striped">
                                            <tbody>
                                                <tr>
                                                    <td width="150px"><strong>Description</strong></td>
                                                    <td>{{book.description}}</td>
                                                </tr>
                                                <tr *ngIf="book.previewLink">
                                                    <td><strong>Preview Link</strong></td>
                                                    <td><a [href]="book.previewLink" target="_blank">{{book.previewLink}}</a></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Genre</strong></td>
                                                    <td>{{book.genre}}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Author</strong></td>
                                                    <td>{{book.author}}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>ISBN</strong></td>
                                                    <td>{{book.isbn}}</td>
                                                </tr>
                                                <tr *ngIf="book.language">
                                                    <td><strong>Language</strong></td>
                                                    <td>{{book.language}}</td>
                                                </tr>
                                                <tr *ngIf="book.publisher">
                                                    <td><strong>Publisher</strong></td>
                                                    <td>{{book.publisher}}</td>
                                                </tr>
                                                <tr *ngIf="book.publishedDate">
                                                    <td><strong>Published Date</strong></td>
                                                    <td>{{book?.publishedDate | date}}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Added Date</strong></td>
                                                    <td>{{book?.added_date | date}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="userSession.userId">
                                <div class="card comments-section">
                                    <div class="card-body col-md-12 text-right" *ngIf="!showCommentForm">
                                        <button class="btn btn-indigo" (click)="showCommentForm=true">Add Review</button>
                                    </div>
                                    <div class="card-body" *ngIf="showCommentForm">
                                        <h4 class="h4">Add Review</h4>
                                        <form (ngSubmit)="addComment(addCommentForm.value, book.id)" #addCommentForm="ngForm">
                                            <div class="media mb-2">
                                                <a class="media-left waves-light">
                                                    <img class="rounded-circle" width="30" src="../../assets/img/user.png" alt="Generic placeholder image">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{currentUser}}</h4>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <textarea [(ngModel)]="comment" required name="comment"></textarea>
                                                        </div>
                                                        <div class="col-md-12 text-right">
                                                            <button [disabled]="addCommentForm.invalid" class="btn btn-indigo" type="submit">Submit</button>
                                                            <button class="btn btn-blue-grey" (click)="showCommentForm=false;comment=''">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="card-body text-center col-md-12" *ngIf="!book.comments.length">
                                        <p> No Reviews yet. Be the first one to Review!</p>
                                    </div>
                                    <div class="col-md-12 card-body" *ngIf="book.comments.length">
                                        <h4 class="h4">Reviews</h4>
                                        <div class="media mb-2" *ngFor="let comment of book.comments">
                                            <a class="media-left waves-light">
                                                <img class="rounded-circle" width="30" src="../../assets/img/user.png" alt="Generic placeholder image">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{comment.user}} <em class="pull-right"><small>{{comment.added | date}}</small></em></h4>
                                                <p>{{comment.comment}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>