<div class="page-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--Section: Products v.3-->
                <section class="section pb-3" *ngIf="book">
                    <!--Section heading-->
                    <h3 class="section-heading h3 pt-4">Book Details</h3>
                    <hr/>
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <!--Card Light-->
                            <div class="card">
                                <!--Card image-->
                                <div class="row">
                                    <div class="view overlay hm-white-slight col-md-3">
                                        <img [src]="book.imageUrl" class="img-fluid" alt="">
                                    </div>
                                    <!--Card content-->
                                    <div class="card-body col-md-9">
                                        <!--Title-->
                                        <h4 class="card-title">{{book.title}}</h4>
                                        <h5><span class="badge indigo">{{book.genre}}</span></h5>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text">{{book.description}}</p>
                                        <p class="card-text">ISBN {{book.isbn}}</p>
                                    </div>
                                    <!--/.Card content-->
                                </div>
                            </div>
                            <!--/.Card Light-->
                        </div>
                    </div>
                    <!--Grid row-->
                </section>
                <!--Section: Products v.3-->
            </div>
        </div>
    </div>
</div>