@import '../../assets/styles/variables';
.view {
    padding: 15px 30px;
    img {
        width: 100%;
    }
}

.comments-section {
    margin-top: 15px;
}

.media-body {
    em {
        font-size: 14px;
    }
}

.likes-section {
    margin: 15px 0;
    a,
    span {
        width: 140px;
        display: inline-block;
    }
    span {
        padding: 0 5px;
    }
}

.media {
    border-top: 1px solid $grey;
    padding-top: 15px;
}

textarea {
    height: 4rem;
}

.media-left {
    img {
        box-shadow: none;
    }
}