$white: #fff;
$grey: #ccc;
$black: #000;
$light-grey: #f2f2f2;
//global scss
body {
    background-color: $light-grey;
}

.page-bg {
    padding-top: 56px;
    height: 100vh;
    &.img-bg {
        background-image: url('~/assets/img/books-8.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        &:after {
            content: '';
            background: rgba(0, 0, 0, 0.3);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 0;
            top: 0;
        }
    }
}

.user-account-section {
    z-index: 1;
    background-color: $white;
    margin-top: 15vh;
    padding: 15px;
    form {
        .md-form {
            i {
                font-size: 20px;
                top: 15px;
                left: 15px;
            }
        }
    }
}